@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "TheDoodle";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310-2@1.0/TheDoodle.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* Use theme variable so dark/light apply globally via :root[data-theme] */
  background-color: var(--bg-primary, #f8f8f8);
  width: 100%;
  min-height: 100vh;
  color: var(--text-secondary, #374151);

  font-family: "TheDoodle", sans-serif;
}
